<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="home.css" />
</head>
<body>
  <%- include("./components/navbar.ejs") %>

  <div class="container">
    <p style="color:green; justify-items: center;"><%- success %></p>
    <h1>Questions Collection</h1>
    <% data.forEach((item)=>{ %>
    <div class="card" onclick="location.href='/question/<%- item.id %>'" style="cursor: pointer; justify-items: center;">
      <p class="question"><%- item.title %></p>
      <img src="<%- item.image %>" alt="Question Image" class="question-image" height="200px" width="300px" />
      <p class="description">Description: <span><%- item.description %></span></p>
      <p class="author">Asked by: <span><%- item.user.username %></span></p>
      <p class="date">Date: <span><%= new Date(item.updatedAt).toDateString() %></span></p>
    </div>
    <% }) %>
  </div>

  <%- include("./components/footer.ejs") %>
</body>
</html>
